.ListingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--accent-color);
    padding: 15px;
    margin: 10px 10px 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 4px 1px #34334283;
}

.image {
    width: 350px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}

.ListingCard > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}