.ListingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 15%;
    border: 3px solid var(--accent-color);
    padding: 15px;
    margin: 10px 10px 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 4px 1px #34334283;
}

.image {
    width: 260px;
    height: 300px;
    object-fit: cover;
    /* border: 2px solid var(--accent-color); */
    border-radius: 10px;
}

.ListingCard > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.Street {
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 10px;
}