.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact > h1 {
    color: var(--accent-color);
}

.ContactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
