.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 0 15px;
    background-color: white;
    color: var(--accent-color);
    border-bottom: 2px solid #34334283;
}

.Logo {
    width: 396px;
    height: 118px;
}

.Header > nav > ul {
    display: flex;
    list-style: none;
}

.Header > nav > ul li {
    margin-right: 15px;
}

.NavLinkLogin {
    text-decoration: none;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.NavLinkLogin:hover {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}
.NavLinkLogin:active {
    text-decoration: none;
    color: var(--accent-color);
}
.NavLinkLogin:visited {
    text-decoration: none;
    color: var(--accent-color);
}

.NavLinkSignup {
    text-decoration: none;
    color: white;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--accent-color);
}
.NavLinkSignup:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.NavLinkSignup:active {
    text-decoration: none;
    color: white;
}
.NavLinkSignup:visited {
    text-decoration: none;
    color: white;
}

.NavLinkDashboard {
    text-decoration: none;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.NavLinkDashboard:hover {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}
.NavLinkDashboard:active {
    text-decoration: none;
    color: var(--accent-color);
}
.NavLinkDashboard:visited {
    text-decoration: none;
    color: var(--accent-color);
}

.NavLinkLogout {
    text-decoration: none;
    color: white;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--accent-color);
}
.NavLinkLogout:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.NavLinkLogout:active {
    text-decoration: none;
    color: white;
}
.NavLinkLogout:visited {
    text-decoration: none;
    color: white;
}